<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="ConsoleClient"/>
    <add key="LoggingQueue" value=".\private$\LogMessages"/>
    <!--Fatal=0, Error=1, Warn=2, Info=3, Debug=4. Value=0=only include Fatal msgs. Value=4=include everything-->
    <add key="LoggingLevel" value="1"/>
  </appSettings>
</configuration>